.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: red;
}
.swiper-slide:first-child {
  background-color: #ffdadf;
}
.swiper-slide:nth-child(2) {
  background-color: #cacaca;
}
.swiper-slide:last-child {
  background-color: #9fd7fa;
}
